<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá!</p>
  <p>Recebemos uma nova solicitação para a se tornar monitor para a monitoria: {{monitoria}}</p>
  <p>Os dados do interessado são:</p>
  <strong>Nome Completo</strong>
  <p>{{name}}</p>
  <strong>Cep</strong>
  <p>{{zip_code}}</p>
  <strong>Rua</strong>
  <p>{{street}}</p>
  <strong>Bairro</strong>
  <p>{{neighborhood}}</p>
  <strong>Cidade</strong>
  <p>{{city}}</p>
  <strong>Estado</strong>
  <p>{{state}}</p>
  <strong>E-mail</strong>
  <p>{{email}}</p>
  <strong>Contato</strong>
  <p>{{phone}}</p>
  <strong>Quantidade de horas disponíveis</strong>
  <p>{{hours_available}}</p>
  <strong>Agência do BB</strong>
  <p>{{agency}}</p>
  <strong>Conta Corrente</strong>
  <p>{{account}}</p>
  <p>
    Obrigado!<br />
    <strong>SGM - FatecId</strong>
  </p>
</div>
